# 빅데이터프로그래밍
       
       
9주 1강: Pandas Basics
<br/><br/>

숭실대학교<br/>
AI융합학부<br/>
윤진혁<br/>

# Today
- About Pandas
- Indexing and Selection
- Data operation
- Missing Data
- Hierarchical Indexing

# Data Manipulation with Pandas

6주차에 우리는 NumPy와 ``ndarray``객체에 대해 자세히 살펴 보았습니다. 이 객체는 Python의 list보다 효율적으로 데이터를 저장하고 빠르게 처리하도록 설계되었습니다.

이번 주는 Pandas를 사용해 데이터를 처리하는 방법에 대해서 배우도록 하겠습니다. Pandas는 NumPy를 기반으로 구축 된 데이터 분석을 도와주는 패키지이고, ``DataFrame``이라는 객체를 구현해 두었습니다. ``DataFrame`` 은 기본적으로 행과 열이 있고, 각각 레이블과 인덱스가 있는 다차원 배열입니다, 또한 다양한 객체를 그 안에 동시에 담아둘 수 있습니다. 조금 더 쉽게 생각하면 엑셀 등의 스프레드시트나 SQL등의 Table 형태 데이터베이스와 유사한 형태의 데이터로 Python에서 데이터 가공과 분석을 수행할 수 있께 해줍니다. 

NumPy의``ndarray``는 일반적으로 수치분석에서 쓰기 편하게 데이터를 효율적으로 가공하는 다양한 기능을 제공합니다. 하지만 수치계산이 아닌 데이터 분석을 위해 사용하려 할 때는 몇몇가지 어려움이 있습니다. 예를 들어 데이터에 라벨을 붙이고 싶거나, 결측데이터를 처리하고 싶거나, 유사한 유형의 데이터를 그룹으로 만들어 작업하거나 하는 일이 가능은 하지만 비효율적입니다. Pandas는 ``Series`` 와 ``DataFrame`` 이라는 자료형으로 구성되어 있습니다. 이 자료형은 개체는 NumPy 배열 구조를 기반으로하며 이러한 종류의 데이터 정리 작업을 효율적으로 수행할 수 있습니다.

## Installing and Using Pandas

시스템에 Pandas를 설치하려면 NumPy가 설치되어 있어야 합니다. 소스에서 직접 라이브러리를 빌드할 수도 있습니다 이 경우 Pandas를 빌드하기 위해 된 C와 및 Cython 소스를 위한 컴파일러가 필요합니다. 하지만 저희는 일반적으로 anaconda나 pip를 통해 설치하게 될 것입니다. 

설치에 대한 자세한 방법은 [Pandas 문서] (http://pandas.pydata.org/)에서 볼 수 있습니다. 

Pandas가 설치되면 아래와 같이 버전을 확인할 수 있습니다.

In [2]:
import pandas
pandas.__version__

'0.24.2'

일반적으로``np`` 라는 줄임말로 NumPy를 import 하는 것처럼 ``pd``라는 별칭으로 Pandas를 import 합니다.

In [3]:
import pandas as pd

## Reminder about Built-In Documentation

이번 시간에 되도록 많은 기능을 다룰 예정이지만, Pandas의 기능이 광범위해서 전체를 다루기는 쉽지 않습니다. 강의 후 직접 실습을 해 보실 때 아래의 jupyter 기능을 통해서 패키지의 내용을 확인하고 다양한 documentation (``?``사용)을 사용해 보세요. 

예를 들어 Pandas 네임 스페이스의 모든 내용을 보려려면 다음을 입력합니다.

```ipython
[]: pd.<TAB>
```

Pandas의 내장 docmuentation을 보려면 다음을 사용할 수 있습니다.

```ipython
[]: pd.<TAB>
```

# Introducing Pandas Objects

매우 기본적인 수준에서 Pandas의 Object 두 가지 (Series, DataFrame)은 정수 인덱스가 아닌 레이블로 행과 열을 식별하는 NumPy 배열의 Wrapper 혹은 Syntactic sugar로 생각할 수 있습니다.

내부 구조를 이해하지 못해도 Series와 DataFrame을 사용하는데 큰 문제는 없지만, 내부 구조를 이해하고 사용하면 훨씬 효율적인 분석과 처리를 할 수 있습니다. 지금부터 확인해 봅시다.

In [3]:
import numpy as np
import pandas as pd

## The Pandas Series Object

Pandas Series는 인덱스를 가진 1차원 배열입니다. 다음과 같이 list 또는 np.array를 통해서 만들 수 있습니다.

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

출력에서 볼 수 있듯이 ``Series`` 값을 가진 ``values``, 인덱스를 가진 ``index`` 두 가지로 구성되어 있습니다. 
``values``는 지난 시간에 배운 NumPy 배열입니다.

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

``인덱스``는 ``pd.Index`` 라는 타입의 객체인데, 배열과 유사합니다.

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

NumPy 배열과 마찬가지로 친숙한 Python braket을 통해 인덱스로 데이터를 조회할 수 있습니다.

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

하지만 Pandas``Series``는 1차원 NumPy 배열보다 훨씬 더 유연하게 사용할 수 있습니다.

### ``Series`` as generalized NumPy array

위의 예에서 ``Series``객체는 기본적으로 1차원 NumPy 배열과 거의 같은 것 처럼 보입니다. 하지만 근본적인 차이가 있습니다. 인덱스가 존재하는 것이지요. Numpy 배열에는 값에 액세스하는데 사용되는 순서 기반의 정수 인덱스가 있지만 Pandas ``시리즈``에는 값과 관련된 명시 적으로 정의된 인덱스가 있습니다.

이러한 인덱스를 사용해서 Series에서 Array와 다른 추가 기능들을 쓸 수 있습니다. 예를 들어, 인덱스는 정수일 필요가 없고 원하는 유형의 값으로 구성 될 수 있습니다. 문자열을 인덱스로 사용하는 예를 볼까요?

In [9]:
# 시리즈는 넘파이어레이를 확장한 느낌
# 시리즈는 인덱스가 있음 - 값과 관련된 명시적으로 정의된 인덱스

data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

아래와 같이 정수 인덱스와 동일한 방법으로 쓸 수 있습니다.

In [10]:
data['b']

0.5

비 연속적이거나 비 순차적 인덱스를 사용할 수도 있습니다.

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
data[5]

0.5

### Series as specialized dictionary

위의 예처럼 Series는 Array와 유사한 개념으로 볼 수 있습니다. 하지만 다른 관점에서 보면, Series는 Python dictionary의 어떤 특수한 케이스이기도 합니다. Dictionary는 임의의 key값을 value값으로 mapping하는 것으로 생각할 수 있습니다. 그리고 Series는 이러한 map을 index-value pair가 수행한다고 볼 수 있습니다. 

그러한 측면에서 Series는 Dictionary의 다른 표현처럼 쓸 수도 있습니다. 하지만 데이터 처리에 대해서는 dict보다 훨씬 효율적입니다.

아래처럼 dict를 통해서 series를 만들 수 있습니다.

In [13]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

기본적으로 키를 정렬해서 인덱스 만드는 Series가 생성됩니다. 그리고 이 Series는 dict처럼 access할 수 있습니다.

In [14]:
population['California']

38332521

하지만 dict와 달리``Series`` 는 슬라이싱과 같은 배열 스타일 작업도 지원합니다.

In [15]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

강의에서 조금 후에 이러한 Pandas 인덱싱 및 슬라이싱의 몇 가지 단점에 대해 더 다룰 예정입니다.

### Constructing Series objects

위에서 몇가지 Series를 만드는 방법에 대해서 보았습니다. 모든 경우 아래의 형태를 약간씩 변형한 것입니다. 

```python
>>> pd.Series(data, index=index)
```

index는 optional argument이고, data는 필수 argument 입니다. 

먼저 data는 list, Numpy array 등을 받을 수 있습니다. 이런 경우 integer sequence가 기본 index가 됩니다.

In [16]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

data는 한 개의 scalar 값을 가질 수 있습니다. 이 경우 index를 명시하면, index의 수 만큼 반복해서 채워집니다.

In [17]:
pd.Series(5, index=[100, 200, 300]) #인덱스 수만큼 반복해서 채워진다.

100    5
200    5
300    5
dtype: int64

data는 dict일 수 있습니다. 이 경우 index는 자동적으로 dict key가 됩니다.

In [18]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

모든 경우에 index를 명시적으로 정의해서 리턴되는 시리즈의 형태를 바꿀 수 있습니다.

In [19]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

이 경우 명시된 index만 series가 만들어지고, 나머지 index들은 버려집니다.

## The Pandas DataFrame Object

Pandas의 다음 기본 구조는``DataFrame``입니다. 직전에 설명한 ``Series ``객체와 마찬가지로 ``DataFrame``은 NumPy 배열의 일반화된 경우 또는 Python 사전의 특수한 경우로 생각할 수 있습니다.

### DataFrame as a generalized NumPy array
Series가 인덱스가 있는 1d array처럼 생각할 수 있다면, Dataframe은 행(row) 인덱스와 열(column) 이름이 모두 있는 2차원 배열로 생각할 수 있습니다. 2차원 배열을 1차원 배열의 배열로 볼 수 있는 것 처럼, DataFrame은 같은 index를 공유하는 Series들의 모음으로 생각할 수 있습니다. 

테스트해보기 위해 먼저 이전 섹션에서 만든 것과 같은 index를 가진 Series를 만들겠습니다. 위에는 인구였고, 지금은 면적입니다.

In [20]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

이제 두 series를 합쳐서 dataframe을 만들어봅시다. dict를 사용할 수 있습니다.

In [21]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

``Series``와 마찬가지로``DataFrame``에는 인덱스 레이블을 조회하는 ``index`` attribute가 있습니다.

In [22]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

또한 ``DataFrame``에는 Column 레이블을 조회하는 ``columns`` attribute가 있습니다.

In [23]:
states.columns # 스트링이므로 오브젝트 타입이다.

Index(['population', 'area'], dtype='object')

위의 예시처럼 ``DataFrame``은 2 차원 NumPy 배열의 일반화된 데이터형태로 생각할 수 있습니다. 행과 열은 모두 데이터에 액세스하기위한 인덱스를 갖습니다.

### DataFrame as specialized dictionary

마찬가지로 ``DataFrame``을 사전의 특수한 경우로 생각할 수도 있습니다. 사전이 키를 값에 매핑하듯, ``DataFrame``은 열 이름을 Series에 매핑합니다. 예를 들어 area를 조회하면 앞에서 본 area의 ``Series`` 객체가 반환됩니다.

In [24]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

약간이 혼동이 있을 수 있습니다. 지난번에 배운 2차원 NumPy 배열에서 ``data[0]``은 첫 번째 *row*를 반환합니다. ``DataFrame``의 경우 ``data['col0']``은 첫 번째 *column*을 반환합니다.

그래서 ``DataFrame``을 사전으로 생각하는 것이 혼동을 방지할 수 있습니다.

### Constructing DataFrame objects

Pandas``DataFrame``은 다양한 방법으로 만들 수 있습니다.

#### From a single Series object

``DataFrame``은``Series``의 모음이므로, 열이 1개인 ``DataFrame``은 한 개의 ``Series``로 만들 수 있습니다.

In [25]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### From a list of dicts
List of dict를 통해서 ``DataFrame``을 만들 수 있습니다.

In [27]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

만약 key가 없다면 NaN을 채워줍니다. (NaN = Not a Number)

In [28]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionary of Series objects

앞서 살펴본 것처럼``DataFrame``은 dict of ``Series``로도 만들 수 있습니다.

In [29]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

#### From a two-dimensional NumPy array
2차원 데이터 배열이 주어지면 지정된 열 및 인덱스 이름으로``DataFrame`` 을 만들 수 있습니다. 생략하면 정수 인덱스가 사용됩니다.

In [30]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.271549  0.532109
b  0.544886  0.190156
c  0.026368  0.633381

#### From a NumPy structured array
Numpy는 structured array라는 것이 있습니다. Pandas``DataFrame`` 은 structured array와 매우 유사하게 작동하며 다음 중 하나에서 직접 만들 수 있습니다.

In [32]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [33]:
pd.DataFrame(A) #데이터 타입이 다른 두개의 컬럼을 가지는 시리즈 생성 가능

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

위의 예에서 Dataframe과 Series모두 Index를 통해 데이터를 조회하고 변경할 수 있는 것을 확인했습니다. 이 index는 pd.Index라는 자료형을 가지며 그 자체로 재미있는 성질이 많습니다. 일단 index를 정수 목록에서 생성해 보겠습니다.

In [34]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

Index는 주로 배열처럼 작동합니다. 예를 들어 Python의 [ ] 표기법을 사용하여 하나의 값 혹은 일부 값을 조회할 수 있습니다.

In [35]:
ind[1]

3

In [36]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

``Index``객체는 NumPy 배열과 같은 attributes를 많이 가지고 있습니다.

In [37]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

``Index`` 객체와 NumPy 배열의 가장 큰 차이점은 인덱스는 일반적이 방법으로 수정할 수 없다는 것입니다.

In [38]:
ind[1] = 0 #치환하는게 안되뮤

TypeError: Index does not support mutable operations

이러한 불변성은 의도하지 않은 인덱스 수정으로 인한 ``DataFrame``의 에러를 막아줍니다. 즉, 인덱스를 통해 ``DataFrame`` 연산을 하는 것을 안전하게 만들어 줍니다.

### Index as ordered set

Pandas 자료형들은 데이터베이스와 유사하게 데이터의 간의 조인과 같은 작업을 용이하게 하도록 설계되었습니다. ``Index`` 객체는 Python의 내장``set`` 데이터 구조에서 사용되는 많은 규칙을 따르므로 union, intersecion, difference, 혹은 기타 조합등의 집합 연산을 익숙한 방식으로 수행할 수 있습니다.

In [39]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [40]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [41]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [42]:
indA ^ indB  # symmetric difference - 두 개를 겹치지 않는 것 만 쓰는 것

Int64Index([1, 2, 9, 11], dtype='int64')

위의 연산들은 ``indA.intersection(indB)`` 형태의 Methods로 사용 가능합니다.

# Data Indexing and Selection

6주차에 NumPy 배열의 값을 조회하고 및 수정하는 방법과 도구를 배웠습니다. 인덱싱 (``arr [2, 1]``), 슬라이싱 (``arr [:, 1 : 5]``), 마스킹 (``arr [arr> 0]``), 팬시 인덱싱 (``arr [0, [1, 5]]``) 및 이들의 조합 (예 :``arr [:, [1, 5]]``) 등이 그 예입니다. 여기에서는 Pandas``Series`` 및``DataFrame`` 자료형의 값을 조회스하고 수정하는 유사한 방법을 살펴 보겠습니다. NumPy를 사용한 적이 있다면 몇 가지 차이가 있지만 Pandas의 해당 패턴은 매우 친숙하게 느껴질 것입니다.

## Data Selection in Series

앞에서 보았 듯이``Series`` 객체는 1차원 NumPy 배열과 동일한 방식으로 이해할 수 있으며 동시에 dict를 통해 이해할 수 있습니다.
두 가지 비유를 염두해두면, 데이터 인덱싱 및 선택 패턴을 이해하는 것이 조금 쉬워집니다.

### Series as dictionary

dict와 마찬가지로``Series`` 객체는 key와 value간을 mapping 해 줍니다.

In [43]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [44]:
data['b']

0.5

또한 dict와 같은 같은 Python 표현식과 함수를 사용하여 key/index 값의 연산을 할 수 있습니다.

In [45]:
'a' in data

True

In [46]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [47]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

``Series``객체는 사전과 유사한 구문으로 수정할 수도 있습니다. 기존 값을 수정할 수도 있고, 새 키를 입력하면 새 키로 사전을 확장 할 수있는 것처럼 새 인덱스 값을 사용해 Series를 확장할 수 있습니다.

In [48]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

이러한 Series의 유연함은 매우 편리합니다. Pandas 내부적으로 메모리를 관리하고 데이터 복사를 관리하며, 사용자는 일반적인 경우에는 실제 복잡한 내용을 고민할 필요가 없습니다.

### Series as one-dimensional array

A ``Series`` builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays – that is, *slices*, *masking*, and *fancy indexing*.
Examples of these are as follows:

``시리즈``는 이 dict와 같은 형태의 인터페이스를 기반으로 NumPy 배열과 동일한 기본 메커니즘 (즉, *slice*, *masking* 및 *fancy indexing*)으로 Array와 같은 인터페이스를 쓸 수 있습니다.

In [49]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [50]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [51]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [52]:
# fancy indexing
data[['a', 'e']] # 값을 지저앻서 가지고 올 수도 있음

a    0.25
e    1.25
dtype: float64

이 중에서 slicing은 주의해야 합니다. 명시적 인덱스 (예 :``data ['a': 'c']``)를 사용하여 슬라이싱 할 때 최종 인덱스는 슬라이스에 포함되고, 암시적 인덱스는 되는 반면, 이렇게 implict index를 사용하면 (예 :``data [0 : 2]``), 최종 인덱스는 슬라이스에서 제외됩니다.

### Indexers: loc, iloc

이러한 슬라이싱 및 인덱싱 규칙은 조금 혼란스럽습니다. 예를 들어, ``Series`` 정수 인덱스가있는 경우 ``data [1]``과 같은 인덱싱 작업은 explict 인덱스를 사용하고``data [1 : 3]``과 같은 슬라이싱 작업은 implict index를 사용합니다.

In [53]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [54]:
# explicit index when indexing
data[1]

'a'

In [55]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

정수 인덱스의 경우 이러한 이유로 잠재적인 오류 요소가 있습니다. 때문에 Pandas는 특정 인덱스 방식을 명시적으로 사용하는 특수 *indexer* methods를 제공합니다. 

첫째,``loc``은 항상 명시적 인덱스를 참조하는 인덱싱 및 슬라이싱을 사용합니다.

In [56]:
data.loc[1]

'a'

In [57]:
data.loc[1:3]

1    a
3    b
dtype: object

``iloc``은 암시적 Python 스타일 인덱스를 사용해서 인덱싱 및 슬라이싱을 합니다.

In [58]:
data.iloc[1]

'b'

In [59]:
data.iloc[1:3]

3    b
5    c
dtype: object

기본적으로 python code에서는 거의 항상 explict한 선언이 implict한 선언보다 훨씬 좋습니다. 더 명확하고 코드 가독성을 높여줍니다. loc과 iloc은 명시적으로 깔끔하고 읽기 쉬운 코드를 유지하게 해 줍니다.

## Data Selection in DataFrame

DataFrame은 2d array 혹은 index를 공유하는 Series의 dict로 이해할 수 있다고 아까 설명드렸습니다. 이러한 비유는 DataFrame에서 데이터 선택과 탐색하는 방법을 이해하는데 도움이 됩니다.

### DataFrame as a dictionary

dict of Series로 DataFrame에 대해서 접근해봅시다.
위에서 만들었던 것과 같은 주별 인구와 면적으로 돌아가 봅시다.

In [60]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

DataFrame의 column을 구성하는 개별 Series는 column 이름을 통해 dict 처럼 액세스 할 수 있습니다.

In [63]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

유사하게 attribute-style으로 string column name을 사용해 조회가 가능합니다.

In [64]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

위의 두 가지는 대부분 완전히 동등한 결과를 줍니다.

In [65]:
data.area is data['area']

True

이것은 유용한 방법이지만 모든 경우에 적용되는 것은 아닙니다.
열 이름이 문자열이 아니거나 열 이름이``DataFrame`` method와 충돌하는 경우에 attribute 스타일로 조회할 수 없습니다.

``DataFrame``에는``pop()``메서드가 있으므로``data.pop``은``pop`` column이 아닌 methods를 반환합니다.

In [66]:
data.pop is data['pop']

False

특히나 attribute형태를 통해 column을 바꾸려는 것은 피해야 합니다. Dictionary형태는 언제나 잡혀가지만, attribute는 그렇지 못한 경우가 많습니다. 

앞에서 설명한``Series``와 마찬가지로 dict-style을 사용하여 객체를 연산할 수도 있습니다. 아래 경우처럼 새 열을 추가해 봅시다.

In [67]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

이러한 방식의 Series 연산은 뒤에 더 다룰 예정입니다.

### DataFrame as two-dimensional array

``DataFrame``은 또한 2차원 배열로 볼 수도 있습니다. ``values`` 속성을 사용하여 np.array형태의 배열을 확인할 수 있습니다.

In [68]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

이러한 점을 염두해 둡시다. 

``DataFrame `` 자체는 numpy array와 유사한 많은 연산이 가능합니다.
예를 들어 Matrix transpose같은 일을 아래처럼 할 수 있습니다.

In [69]:
data.T #행과 열 뒤집기

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

다만 ``DataFrame`` objects의 조회 방식이 Numpy Array와 다르다는 것에 유의해야 합니다. 

먼저, Numpy array에 어떤 index를 입력하면 row를 반환합니다.

In [70]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

하나의 index를 ``DataFrame`` 에 입력하면 a column을 반환합니다.

In [71]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

만약 Array style indexing을 사용하기 위해서는 dictionary 형태의 indexing이 아니라 다른 방식을 써야합니다. 이 때 쓰는 것들이 loc, iloc입니다.

첫번째로 ``iloc`` indexer를 사용하면 단순한 NumPy Array처럼 인덱싱 할 수 있지만 ``DataFrame`` 인덱스 및 column 레이블이 유지되어서 반환됩니다.

In [72]:
data.iloc[:3, :2] # 행열순서로 입력받음

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

마찬가지로 ``loc`` 인덱서를 사용하여 배열과 유사한 스타일로 기본 데이터를 인덱싱 할 수 있습니다. 이 경우는 explict index와 column name을 사용합니다.

In [73]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

익숙한 NumPy 스타일의 데이터 조회 방식으로 이러한 indexer를 사용할 수 있습니다. 예를 들어,``loc`` 인덱서로 마스킹과 인덱싱을 결합 할 수 있습니다.

In [74]:
data.loc[data.density > 100, ['pop', 'density']] # densicy가 100을 넘는것만 조회할 수 있음

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

이러한 인덱싱 규칙을 사용하여 값을 설정하거나 수정할 수도 있습니다. 이것은 NumPy와 비슷한 문법을 사용합니다.

In [75]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

이러한 방식에 더 익숙해질 수록 DataFrame을 잘 사용할 수 있습니다. 스스로 많이 테스트를 해 보세요.

### Additional indexing conventions

주하셔야 할 점 하나는 *indexing*은 열을 나타내고 *slicing*은 행을 나타낸다는 것입니다.

In [76]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

정수형 인덱스도 동일합니다.

In [78]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

유사하게 Masking도 row를 필터링하는데 사용됩니다.

In [79]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

이 두 가지 경우는 Pandas의 기본 관점 (column을 조회)와는 다르지만, 실제로 사용할 때는 매우 자주 쓰이고 유용합니다.

# Operating on Data in Pandas

6주차에 배운 Numpy의 가장 큰 장점은 더하기 빼기 등의 산술연산과 삼각함수, 지수함수, 로그함수등의 복잡한 연산을 elementwise로 수행할 수 있다는 것입니다. Pandas는 이 기능의 대부분을 상속받아서 쓸 수 있습니다. 6주차에 배운 ufunc가 그 중심에 있습니다. 기억이 잘 나지 않으면 6주차 강의노트를 다시 봐 주세요. 

삼각함수 등 한 가지의 인덱스를 사용하는 단순 연산 ufunc의 경우는 index와 column label을 보존합니다. 하지만 더하기나 곱셈과 같은 다수의 값을 동시에 사용해야 하는 경우, pandas는 인덱스 기준으로 정렬해서 ufunc의 인자로 사용합니다. 즉, 같은 인덱스의 값 끼리 연산을 합니다.

이는 데이터에서 여러 소스의 데이터를 규칙에 따라 결합하기 위해서 유용하게 사용되고 연산의 잠재적 오류를 막아줍니다. 지금부터 이에 대해 조금 더 알아보겠습니다.

## Ufuncs: Index Preservation

Pandas는 NumPy와 함께 작동하도록 설계 되었기 때문에 모든 NumPy ufunc는 Pandas``Series``및 ``DataFrame``객체에서 작동합니다. 이를 확인하기 위해 간단한 ``Series`` 및 ``DataFrame`` 개체를 정의해 봅시다.

In [80]:
import pandas as pd
import numpy as np

In [81]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4)) #시리즈와 데이터프레임 생성
ser

0    6
1    3
2    7
3    4
dtype: int32

In [82]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

이러한 객체 중 하나에 NumPy ufunc를 적용하면 인덱스가 유지된 결과 객체를 반환합니다.

In [83]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

조금 더 복잡한 계산도 동일합니다.

In [84]:
np.sin(df * np.pi / 4) #모든 엘레먼트에 대해 계산된 값이 조회된다.

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

## UFuncs: Index Alignment

두 개의 ``Series`` 또는 ``DataFrame`` 객체에 대한 연산의 경우 Pandas는 연산을 수행하는 과정에서 인덱스를 정렬합니다.
이는 다음 예제에서 볼 수 있듯 불완전한 데이터로 작업하는 경우 장점으로 작동합니다.

### Index alignment in Series

A예를 들어, 두 개의 서로 다른 데이터 소스를 결합해야 한다고 생각해봅시다. 근데 데이터가 불완전해서 면적으로 상위 3개, 인구로 상위 3개의 주만 데이터를 찾을 수 있었다고 가정해 봅시다.

In [85]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

인구 밀도를 계산하기 위해 이를 나누면 어떤 일이 발생하는지 살펴 봅시다.

In [86]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

결과 배열의 인덱스는 두 입력 배열의 인덱스의 union이 됩니다. Python 집합 union을 사용하면 확인할 수 있습니다.

In [87]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

하나 또는 다른 항목에 항목이없는 항목은 Pandas가 누락 된 데이터를 표시하는 ``NaN``(Not a Number)로 표시됩니다. 이를 다루는 방법은 뒤에서 다시 살펴보겠습니다.

Python의 내장 산술 표현식에 대해 이러한 연산은 모두 동일하게 작동합니다.

In [88]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

NaN 값을 사용하는 것이 바람직한 동작이 아닌 경우 연산자 대신 적절한 개체 메서드를 사용하여 기본적으로 채워 넣을 값을 설정할 수 있습니다.

예를 들어``A.add(B)``를 호출하는 것은``A + B``를 호출하는 것과 동일하지만 모든 요소에 대해 누락된 경우의 기본 값을 미리 설정해 줄 수 있습니다.

In [89]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Index alignment in DataFrame

``DataFrame``연산은 행과 열 모두에서 유사한 방식으로 정렬됩니다.

In [90]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

   A   B
0  1  11
1  5   1

In [91]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  4  0  9
1  5  8  0
2  9  2  6

In [92]:
A + B

      A     B   C
0   1.0  15.0 NaN
1  13.0   6.0 NaN
2   NaN   NaN NaN

인덱스는 두 개체의 순서에 관계없이 올바르게 다시 정렬됩니다. 

Series의 경우와 마찬가지로 누락 된 항목 대신 사용할 원하는 fill_value를 지정할 수 있습니다.
아래의 경우 A의 모든 값을 평균내어 fill로 사용합니다.

In [93]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

다음 표를 참조하세요. 아래와 같은 Python 연산자와 이에 상응하는 Pandas methods가 있습니다.

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

DataFrame과 Series 사이에서 연산을 수행 할 때 인덱스 및 열 정렬은 최대한 유사하게 유지가 됩니다. 
이러한 연산은 2차원 및 1차원 NumPy 배열 사이에서 작동하는 연산과  유사합니다.
2차원 배열과 하나의 행 값의 차이를 찾는 작업을 한 번 생각해 봅시다.

In [94]:
A = rng.randint(10, size=(3, 4))
A

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]])

In [95]:
A - A[0] #값을 빼서 0을 만들어줌 row마다 반복적으로 같은 연산 수행해줌

array([[ 0,  0,  0,  0],
       [-1, -2,  2,  4],
       [ 3, -7,  1,  4]])

복습해봅시다. 6주차에 배운 것을 고려하면, 2d array와 1d array사이의 빼기는 row마다 반복적으로 이루어 집니다.
DataFrame도 동일하게 작동합니다.

In [96]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1 -1 -2  2  4
2  3 -7  1  4

이것을 열에 대해 반복적으로 수행하려면 객체 형태로 연산을 하며 ``axis``라는 키워드를 쓰면 됩니다.

In [97]:
df.subtract(df['R'], axis=0)

   Q  R  S  T
0 -5  0 -6 -4
1 -4  0 -2  2
2  5  0  2  7

또한 위에서 설명한 것과 같이 이러한 ``DataFrame`` ``Series`` 연산은 자동으로 두 요소 사이의 인덱스를 재정렬합니다.

In [98]:
halfrow = df.iloc[0, ::2]
halfrow

Q    3
S    2
Name: 0, dtype: int32

In [99]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -1.0 NaN  2.0 NaN
2  3.0 NaN  1.0 NaN

이러한 인덱스와 column의 처리방식 (보존 및 정렬)은 다루는 데이터의 속성을 일정하게 유지해서 Numpy 배열에서 발생할 수 있는 자잘한 오류를 방지할 수 있습니다.

# Handling Missing Data

프로젝트 하시면서 느끼신 분도 있을 것 같습니다. 튜토리얼에서 다루는 데이터와 실제 데이터는 매우 다릅니다. 연습용 데이터는 보통 깔끔하고 잘 정리되어 있으며 자료형이 일정합니다. 

하지만 대부분의 경우 우리가 다루는 데이터는 일정 수준의 데이터가 누락된 데이터입니다. 또한 데이터 소스에 따라 누락 된 데이터가 다른 방식으로 표시 될 수 있습니다.

지금부터는 누락 데이터에 대한 몇가지 사항을 논의해 봅시다. 어떤 식으로 처리할 수 있고 이런 방식에는 어떤 장단점이 있는지 생각해 봅시다. 앞으로는 별도의 언급 없이 null, NaN, NA등은 모두 누락된 데이터로 생각하시면 됩니다.

## Trade-Offs in Missing Data Conventions
테이블 또는 DataFrame에 결측 데이터가 있음을 나타내기 위해 개발된 여러 가지 방법들이 있습니다. 일반적으로 결측값을 전체적으로 나타내는 mask를 사용하거나 결측값을 나타내는 *sentinel value*를 지정하는 두 가지 전략 중 하나를 택합니다.

마스크는 완전히 별개의 boolean 배열을 사용하거나 자료형의 한 비트 정도를 할애해서 값의 null 상태를 나타내게 하는 식으로 접근합니다..

Sentinel value는 -9999같은 잘 나타나지 않는 비트 패턴으로 정수 값이 비어있음을 표시 할 수 있는 관례를 따르기도 하고, IEEE float에 이미 정의된  NaN 같은 형태로 표시하게 할 수도 있습니다. 

사실 두 방식 모두 장단점이 있고, 완벽하지 않습니다. 마스크 array를 사용하는 것은 스토리지와 계산시에 오버헤드가 추가됩니다. Sentinel value는 몇가지 값을 미리 할당해 두어야 하므로 유효한 값의 범위를 줄이기도 하고, 이 값이 결측치인지 확인하기 위해서 추가적인 논리 연산이 필요할 수 있습니다. 

그래서 언어마다, 구현마다 조금씩 다른 방식을 사용합니다.

## Missing Data in Pandas

Pandas가 결측값을 처리하는 방식은 NumPy 패키지에 의존하기 때문에 제약을 받습니다. 첫 번째로 NumPy 패키지는 float이 아닌 경우 NA가 별도로 정의되어 있지 않습니다. 

R은 특수한 비트 패턴을 정의해서 결측치임을 표시하는데, 이러한 방식은 backend를 바닥부터 구현한다면 가능하지만 Numpy의 기능을 빌려 쓰는 pandas에서는 어려움이 있습니다. 거기에다가 R에 비해 Pandas는 훨씬 복잡합니다. R은 데이터 유형이 네가지 뿐입니다만, Pandas / Numpy는 데이터 유형이 훨씬 많습니다. 대략 400개가 넘어가지요. 

즉, 모든 경우에 비트 패턴을 정의하면 이 모든 것을 체크해야 하므로 논리연산에 상당한 오버헤드가 발생합니다. 심지어 이를 위해서 Pandas를 위한 수치계산 라이브러리를 새로 만들어야 할 수도 있지요 (numpy를 포크해서 numpy-pandas 등을 만든다던지...) 또한 8비트 정수같은 작은 자료형을 정의하고 있는데, 이 자료형은 단 256개의 정수만 표현이 가능합니다. 여기에서 몇 개의 비트를 미리 할당하는 것은 치명적입니다.

Numpy는 boolean array를 지원합니다. 즉, Boolean array를 통해서 결측치를 False에, 데이터가 있는 부분을 True에 할당하는 형태로 처리할 수도 있씁니다. 하지만, 이를 위해서 추가적인 저장용량과 메모리가 필요해지고, 코드가 복잡해집니다. 

이러한 부분을 염두해 두고 Pandas는 누락된 데이터에 대해서 Sentinel value를 사용합니다. 먼저 Python에는 이미 null값이 두 가지 정의되어 있습니다. np.flaot의 NaN과 파이썬의 "None" object입니다. 

이러한 방식의 구현은 일부 부작용을 가지고 있습니다. 하지만 대부분의 경우는 올바르게 작동합니다. 특히나 추가적인 논리연산이나 메모리의 오버헤드가 없다는 점은 매우 큰 장점입니다. 다만 센티넬 값은 나타낼 수 있는 유효한 값의 범위를 줄이고 CPU와 GPU 산술에서 추가적인(때로는 최적화되지 않은) 논리연산이 발생할 가능성이 있습니다.

### ``None``: Pythonic missing data

The first sentinel value used by Pandas is ``None``, a Python singleton object that is often used for missing data in Python code.
Because it is a Python object, ``None`` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type ``'object'`` (i.e., arrays of Python objects):

Pandas에서 사용하는 첫 번째 센티넬 값은 파이썬 코드에서 누락된 데이터에 자주 사용되는 파이썬 객체인 ''None'' 입니다. Python 오브젝트이기 때문에, None은 임의의 NumPy/Pandas 배열에서 사용할 수 없고, 데이터 타입이 object (즉, Python 오브젝트의 배열)인 배열에서만 사용할 수 있습니다. 그래서 None값이 들어가면 기본적으로 객체 데이터 배열이 됩니다.

In [100]:
import numpy as np
import pandas as pd

In [101]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

여기서 ``dtype=object``는 NumPy가 배열의 내용으로 추론할 수 있는 데이터 유형중 가장 적절한 것이 Python object라는 것을 의미합니다. 이러한 종류의 객체 Array는 유용하지만 Python에서 계산을 담당하기 때문에 Numpy native 자료형 사용하는 array보다  훨씬 많은 오버헤드가 발생하고 느립니다. 테스트해봅시다.

In [102]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype = object
42.3 ms ± 491 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
1.24 ms ± 23.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

또한 None값을 가진 Array는 sum() 또는 min()과 같은 연산에서 일반적으로 오류가 발생합니다.

In [103]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

위에서 볼 수 있듯, None과 int의 더하기 연산은 정의되어 있지 않습니다.

### ``NaN``: Missing numerical data

다른 결측 데이터 표현방식인 "NaN"(*Not a Number*의 약칭)은 다릅니다. 이는 표준 IEEE float 구현을 사용하는 모든 시스템에서 인식하는 특별한 float 값입니다.

In [104]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype

dtype('float64')

NumPy가 이 array를 native float으로 인식한다는 것은 중요합니다. 즉, 이 array는 numpy에서 작동하므로 blas 연산을 사용해서 빠르게 작동합니다. 

또한 NaN은 접촉하는 모든 다른 변수에 영향을 주어, NaN과 연산을 하면 무조건 NaN이 return됩니다.

In [105]:
1 + np.nan

nan

In [106]:
0 *  np.nan

nan

즉, Aggregation이 오류를 내진 않지만 의미없는 결과값을 반환합니다.

In [107]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

NumPy는 다음과 같은 결측값을 무시하는 몇 가지 특수 연산을 구현해 두었습니다.

In [108]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

"NaN"은 특히 부동 소수점 값이며 정수, 문자열 또는 기타 형식에 NaN 값이 없다는 것을 기억해 두세요.

### NaN and None in Pandas

Pandas는 "NaN"과 "None" 둘 다 사용하고 있으며, 두 가지는 경우에 따라 적절히 상호 변환되도록 설계되어 있습니다.

In [110]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

사용 가능한 Sentinel 값이 없는 유형의 경우, Panda는 NA 값이 있을 때 자동으로 변수를 typecast합니다. 
예를 들어 정수 배열의 값을 np.nan으로 설정하면 부동 소수점 유형으로 upcast됩니다.

In [111]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int32

In [112]:
x[0] = None  #자동으로 float으로 타입캐스팅됨
x

0    NaN
1    1.0
dtype: float64

Pandas가 정수 배열을 float으로 upcast함과 동시에 "None"을 "NaN" 값으로 자동 변환한다는 점에 주목해 주세요.
추후에 Pandas에 정수에 대한 NA를 추가하는 부분이 논의되고 있지만, 아직까지는 추가되지 않은 것으로 알고 있습니다.

다음 표에 결측치가 있을 때 값이 도입될 때 Pandas의 규칙을 정리해 두었습니다.

|Typeclass     | Conversion When Storing NAs | NA Sentinel Value      |
|--------------|-----------------------------|------------------------|
| ``floating`` | No change                   | ``np.nan``             |
| ``object``   | No change                   | ``None`` or ``np.nan`` |
| ``integer``  | Cast to ``float64``         | ``np.nan``             |
| ``boolean``  | Cast to ``object``          | ``None`` or ``np.nan`` |

Pandas에서 string data는 ``object`` dtype으로 저장됨에 유의해주세요.

## Operating on Null Values

우리가 보아온 바와 같이 판다는 None과 NaN을 본질적으로 같은 것으로 간주하고 상황에 따라 서로 변환하여 씁니다.
Pandas 데이터 구조들은 null 값을 탐지하고 제거하거나 교체하는 몇 가지 유용한 methods를 구현해 두었습니다.

- isnull(): 결측값을 나타내는 boolean 마스크 생성
- notnull(): 위와 반대
- dropna(): na가 필터링되어서 제거된 데이터를 반환합니다.
- fillna(): 결측값을 규칙에 따라 채운 데이터를 반환합니다.

### Detecting null values
Pandas에는 결측 데이터를 탐지하는 isnull()과 notnull()두 가지 유용한 Methods가 있습니다.
두 가지 모두 Boolean 마스크를 반환합니다.

In [113]:
data = pd.Series([1, np.nan, 'hello', None])

In [114]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

Boolean 마스크는 "Series" 또는 "DataFrame" 인덱스로 직접 사용할 수 있습니다.

In [115]:
data[data.notnull()]

0        1
2    hello
dtype: object

### Dropping null values

마스킹 외에도 결측치를 모두 지우는 dropna() method와 결측치를 다른 값으로 채우는 fillna() method가 있습니다.

In [116]:
data.dropna()

0        1
2    hello
dtype: object

``DataFrame`` 은 추가적인 옵션을 줄 수 있습니다. 아래같은 DataFrame을 만들어봅시다.

In [117]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

DataFrame에서는 단일 값을 삭제할 수 없으며, 결측치가 있는 전체 행 또는 전체 열만 삭제할 수 있습니다.

필요에 따라서 원하는 방식이 다르므로, dropna()는 DataFrame의 어떤 부분을 삭제할지 여러 옵션을 줍니다.

기본적으로 dropna()는 결측치가 있는 모든 row를 삭제합니다

In [118]:
df.dropna()

     0    1  2
1  2.0  3.0  5

``axis=1`` 혹은 ``axis="columns"``를 추가하면 반대로 columns가 지워집니다.

In [119]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

문제는 이런 식으로 처리하면 사용할 수 있는 데이터도 모두 제거된다는 것입니다. 
이를 방지하기 위해 how 혹은 tresh parameter를 바꾸면 어떤 형태로 결측치를 처리할지 결정할 수 있습니다. 

기본값은 how="any"입니다. 지정된 axis에 따라 결측치가 있는 모든 row나 column을 지우는 것이지요.

In [120]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [121]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

혹은 ``thresh`` parameter를 통해서 지우지 않기 위해서는 최하 몇개 이상의 결측치가 아닌 데이터가 필요한지를 지정해 줄 수도 있습니다.

In [122]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

여기서 첫 번째 행과 마지막 행은 두 개의 값만 NaN이 아니므로 삭제되었습니다.

### Filling null values

때때로 결측값을 삭제하는 대신 유효한 값으로 바꾸는 것이 좋습니다. 이 값은 0과 같은 기본 숫자이거나, 위아래의 값을 통해서 대치하거나 추정하는 방식으로 구현할 수 있습니다.

``isnull()``을 마스크로 사용하여 이러한 작업을 수행 할 수 있지만, 간단하게 Pandas는``fillna ()`` methods를 사용할 수도 있습니다.

In [123]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

결측치를 0과 같은 단일 값으로 채울 수 있습니다.

In [124]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

forward-fill을 통해 바로 앞의 값으로 대치할 수 있습니다.

In [125]:
# forward-fill
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

back-fill을 통해 바로 뒤의 값으로 대치할 수 있습니다.

In [126]:
# back-fill
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

DataFrame의 경우 옵션은 비슷하지만 fill을 수행하는 axis를 지정할 수 있습니다.

In [127]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [128]:
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

forward fill에서 앞의 값이 없는 경우는 NaN이 그대로 유지됩니다.

# Hierarchical Indexing

지금까지 우리는 주로 Pandas Series 및 DataFrame 객체에 각각 저장된 1차원 및 2차원 데이터를 살펴보았습니다.
때로는 이를 넘어서 더 높은 차원의 데이터, 즉 하나 또는 두 개 이상의 키에 의해 인덱싱 된 데이터를 쓰는 것이 필요할 때가 있습니다. 물론 Pandas는 기본적으로 3 차원 및 4 차원 데이터를 처리하는 Panel 및 Panel4D 개체가 있지만, 계층적 인덱싱 (Hierarchical indexing) 혹은 다중인덱싱으로 불리는 방식을 더 많이 사용합니다. 이러한 방식으로 구현된 고차원 데이터는 익숙한 Series와 DataFrame 객체를 사용해 연산을 할 수 있습니다.

지금부터는 이러한 다중인덱스 개체를 직접 만들고 사용하는 방법에 대해서 이야기 해 보겠습니다.

In [129]:
import pandas as pd
import numpy as np

## A Multiply Indexed Series
1차원 Series 에서 2차원 데이터를 표현하는 방법을 생각해 봅시다. 각 포인트에 문자와 숫자 키가 하나씩 있는 데이터를 생각해 봅시다.

### The bad way
서로 다른 두 해 동안 미국 각 주의 데이터를 추적한다고 가정합시다. Python Tuple도 key가 될 수 있으므로, Python Tuple을 index로 사용하는 방식을 생각할 수 있습니다.

In [130]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

아래처럼 조회하거나 분할 할 수 있습니다.

In [131]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

그러나 편리함은 여기까지입니다. 예를 들어, 2010 년의 모든 값을 선택해야하는 경우 이를 실현하기 위해 약간 지저분하고 느린 아래와같은 연산을 수행해야 합니다.

In [132]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

이렇게하면 원하는 결과가 생성되지만 Pandas의 slicing만큼 직관적이지도 않고, 큰 데이터에서는 매우 느릴 가능성이 큽니다.

### The Better Way: Pandas MultiIndex
다행히도, Pandas는 훨씬 훌륭한 방법을 고안했습니다. MultiIndex라는 자료형의 인덱스를 만들 수 있고, 이를 통해 우리가 원하는 작업을 수행할 수 있습니다!

위의 tuple로부터 MultiIndex를 만들어봅시다!

In [133]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

"MultiIndex"에는 여러 가지 Level의 인덱싱을 동시에 가지빈다. 또한 이러한 각 레벨의 이름(label)도 지정할 수 있습니다. 아래처럼 index로 사용하면, 계층적 인덱스를 확인할 수 있습니다.

In [134]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

Here the first two columns of the ``Series`` representation show the multiple index values, while the third column shows the data.
Notice that some entries are missing in the first column: in this multi-index representation, any blank entry indicates the same value as the line above it.

여기에서 Series의 처음 두 열은 여러 인덱스 값을 보여주고 세 번째 열은 데이터를 보여줍니다. 첫 번째 열에서 일부 항목은 표기되어있지 않습니다. 이는 위의 값과 같은 값임을 의미합니다.

이제 두 번째 인덱스가 2010 인 모든 데이터에 액세스하려면 Pandas Slicing 문법을 사용하면됩니다.

In [135]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

우리가 관심있는 키만를 가진 단일 인덱스 배열을 리턴해 줍니다.
이러한 방식은 tuple 다중 인덱싱보다 훨씬 더 편리합니다 (그리고 훨씬 더 효율적입니다!).
이제 계층적으로 인덱싱 된 데이터에 대한 이러한 종류의 인덱싱 작업에 대해 자세히 설명합니다.

### MultiIndex as extra dimension
사실 인덱스 및 열 레이블이 있는 단순한 "DataFrame"을 사용하여 동일한 데이터를 쉽게 저장할 수도 있습니다.
사실 pandas는 이와 같은 작동을 고려하며 만들어졌습니다. unstack을 통해서 multi index series를 DataFrame으로 변환할 수 있습니다.

In [136]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

당연히 ``stack()`` method는 반대로 multiindex를 만들어줍니다.

In [137]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

이것을 보면 왜 우리가 계층적 인덱싱을 쓰는지 의아해 할 수도 있습니다.

그 이유는 간단합니다. 멀티 인덱싱을 사용하여 1차원 Series에서 2차원 데이터를 나타내는 것 처럼, 레벨을 더 추가하면 3차원, 혹은 그 이상의 데이터도 다룰 수 있기 때문입니다. DataFrame에서도 추가적인 차원을 다룰 수 있습니다! 즉, 다양한 데이터 표현에 대해서 훨씬 더 다양한 처리를 할 수 있습니다.

다중인덱스 레벨이 하나 추가되는 것은 한 차원이 추가되는 것으로 이해할 수 있습니다. 즉, 이를 통해 훨씬 많은 형태의 데이터를 사용할 수 있습니다. 예를 들어 매년 각주의 인구 통계 데이터의 추가 데이터를 추가할 수 있습니다.

In [138]:
pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

모든 ufunc 및 기타 기능은 멀티인덱스에서도 작동합니다.
위의 데이터를 사용해서 18세 미만의 사람 비율을 연도별로 계산해 봅시다!

In [139]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

이를 통해 고차원 데이터도 쉽고 빠르게 조작하고 탐색 할 수 있습니다.

## Methods of MultiIndex Creation

다중 인덱스 Series 또는 DataFrame을 생성하는 가장 간단한 방법은 단순히 두 개 이상의 인덱스 list를 생성자의 파라미터로 쓰는 것입니다.

In [142]:
fdf = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2']) #멀티인덱스를 사용하는 방법
fdf

        data1     data2
a 1  0.585875  0.261520
  2  0.474120  0.921220
b 1  0.355621  0.263542
  2  0.563377  0.731684

MultiIndex 생성 작업은 백그라운드에서 알아서 이루어집니다.

마찬가지로 이전의 예처럼 적당한 tuple을 키로 쓰는 사전을 parameter로 입력하면 Pandas는이를 자동으로 인식하고 기본적으로 MultiIndex 를 사용합니다.

In [143]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102} #튜플들을 입력하면 알아서 멀티인덱스가 된다.
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

위의 예는 간편하지만, 때로는 MultiIndex를 직접적으로 생성하는 것이 편리할 떄도 있습니다. 두 가지 방법을 예를 들어보겠습니다.

### Explicit MultiIndex constructors

먼저 ``pd.MultiIndex``에서 사용 가능한 class method 생성자를 대신 사용할 수 있습니다.

예를 들어서 각 레벨의 인덱스 값의 2d array 를 통해 MultiIndex를 생성 할 수 있습니다.

In [144]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

또는 list of tuple을 통해 생성할 수 있습니다.

In [145]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

Cartesian product로 생성하는 것도 때떄로 유용합니다.

In [146]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]]) #카티션 프로덕트

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

마찬가지로,``levels`` (각 레벨에서 사용 가능한 인덱스 값을 포함하는 list of list) 와 ``codes`` (실제로 어떤 라벨을 사용할지 정해주는 list of list)를 parameter로 쓰면 아래처럼 MultiIndex를 구성할 수 있습니다.

In [147]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              codes=[[0, 0, 1, 1], [0, 1, 0, 1]]) # 구버전에는 labels 였습니다.

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

이러한 개체는 Series또는 Dataframe을 만들 때 index parameter로 쓰거나 Series의 reindex method의 인자로 사용할 수 있습니다.

### MultiIndex level names

MultiIndex의 레벨 이름을 지정하는 것이 필요할 때가 있습니다. 위의 MultiIndex 생성자 중 하나에 names인수를 전달하거나 index.names attribute를 직접 수정할 수 있습니다.

In [149]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### MultiIndex for columns

DataFrame에서 행과 열은 완전히 대칭이고, 행이 여러 레벨의 인덱스를 가질 수있는 것처럼 열도 여러 레벨을 가질 수 있습니다.

In [150]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      53.0  36.7  10.0  35.2  31.0  36.7
     2      34.0  36.8  45.0  37.5  39.0  36.6
2014 1      37.0  38.5  47.0  36.2  46.0  36.4
     2      19.0  37.5  36.0  36.4  42.0  37.3

이런 경우 행과 열 모두에 대한 다중 인덱싱이 매우 편리합니다. 
위 데이터는 기본적으로 4 차원 데이터입니다., 여기서 차원은 환자명, 측정 종류, 연도 및 방문 횟수입니다.

위의 형태에서 사람의 이름으로 최상위 열을 인덱싱하고 해당 사람의 정보 만 포함하는 전체 DataFrame을 조회 가능합니다.

In [151]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      10.0  35.2
     2      45.0  37.5
2014 1      47.0  36.2
     2      36.0  36.4

여러 주제 (사람, 국가, 도시 등)에 대해 여러 번 레이블이 지정된 복잡한 레코드의 경우 계층 적 행과 열을 사용하는 것이 매우 편리 할 수 있습니다!

## Indexing and Slicing a MultiIndex

MultiIndex에 대한 인덱싱 및 슬라이싱은 직관적으로 설계되었으며 인덱스를 np.array의 추가 차원처럼 생각하면 도움이됩니다.

### Multiply indexed Series

앞서 본 주 인구의 다중 인덱스 Series를 다시 사용합시다.

In [152]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

아래처럼 레벨별로 인덱싱하여 단일 요소에 액세스 할 수 있습니다.

In [153]:
pop['California', 2000]

33871648

``MultiIndex``는 부분 인덱싱을 지원합니다. 결과는 조회한 인덱스 이외 레벨의 인덱스가 유지되는 또 다른 Series가 리턴됩니다.

In [154]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

``MultiIndex`` 가 정렬 되어 있다면 부분 슬라이싱도 가능합니다.

In [155]:
pop.loc['California':'New York']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

정렬 된 인덱스를 사용하면 첫 번째 인덱스를 empty slice를 입력하고 하위 수준에서 부분 인덱싱을 수행 할 수 있습니다.

In [156]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

다른 유형의 인덱싱과 조횓 가능합니다. 예를 들어 부울 마스크를 기반으로 아래처럼 작동시킬 수 있습니다.

In [157]:
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

Fancy indexing도 여전히 작동합니다.

In [158]:
pop[['California', 'Texas']]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

### Multiply indexed DataFrames

다중 인덱싱 된``DataFrame``또한 유사하게 작동합니다. 세 사람의 건강검진 데이터 (?)를 다시 봅시다.

In [159]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      53.0  36.7  10.0  35.2  31.0  36.7
     2      34.0  36.8  45.0  37.5  39.0  36.6
2014 1      37.0  38.5  47.0  36.2  46.0  36.4
     2      19.0  37.5  36.0  36.4  42.0  37.3

dict 형태로 조회시 dataframe에서 column을 기본으로 조회합니다. 또한 다중 인덱스 Series에 사용되는 문법들이 열에 적용됩니다.
예를 들어, 간단한 조작으로 Guido의 심박수 데이터를 조회 할 수 있습니다.

In [160]:
health_data['Guido', 'HR']

year  visit
2013  1        10.0
      2        45.0
2014  1        47.0
      2        36.0
Name: (Guido, HR), dtype: float64

또한 단일 인덱스의 경우와 마찬가지로 loc과 iloc을 쓸 수 있습니다.

In [161]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      53.0  36.7
     2      34.0  36.8

이러한 인덱서는 기본 2차원 데이터의 배열과 비슷하게 쓸 수 있지만, loc 또는 iloc은 인덱스의 튜플또한 사용 할 수 있습니다.

In [162]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        53.0
      2        34.0
2014  1        37.0
      2        19.0
Name: (Bob, HR), dtype: float64

tuple 형태로는 slicing은 불가능합니다.

In [163]:
health_data.loc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-163-fb34fa30ac09>, line 1)

Python의 내장``slice ()``함수를 사용하여 원하는 slice를 명시적으로 지정해서 문제를 해결할 수는 있지만, Pandas의 ``IndexSlice`` 객체가 더 쉽고 편합니다.

In [164]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      53.0  10.0  31.0
2014 1      37.0  47.0  46.0

직접 테스트하면서 연습해보세요!

## Rearranging Multi-Indices

One of the keys to working with multiply indexed data is knowing how to effectively transform the data.
There are a number of operations that will preserve all the information in the dataset, but rearrange it for the purposes of various computations.
We saw a brief example of this in the ``stack()`` and ``unstack()`` methods, but there are many more ways to finely control the rearrangement of data between hierarchical indices and columns, and we'll explore them here.

다중 인덱싱 된 데이터를 가지고 작업할 때는 데이터를 효과적으로 변환하는 방법을 아는 것이 중요합니다.

기본적으로 데이터 자체는 보존하지만, 계산을 위해 순서를 재정렬하는 경우는 많이 있습니다. ``stack()``및``unstack()`` method 에서 이에 대한 간단한 예를 확인했습니다.

### Sorted and unsorted indices

앞에서 잠시 말했지만, 인덱스가 정렬되지 않은 경우 많은 MultiIndex 슬라이싱 작업이 실패합니다.

인덱스가 정렬되지 않은 간단한 곱셈 인덱스 데이터를 만드는 것부터 시작하겠습니다.

In [165]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

char  int
a     1      0.219294
      2      0.201124
c     1      0.615527
      2      0.191167
b     1      0.296031
      2      0.145679
dtype: float64

이 인덱스의 일부를 가져 오려고하면 오류가 발생합니다.

In [166]:
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

오류 메시지에서 완전히 명확하지는 않지만 이는 MultiIndex가 정렬되지 않아서 이런 에러가 발생하는 것입니다.
여러 가지 이유로 부분 슬라이스 및 기타 유사한 작업을 수행하려면 MultiIndex는 정렬된 상태여야 합니다. 
Pandas는 이러한 정렬을 수행하기위한 여러가지 medhots를 제공합니다. 예제는``DataFrame``의``sort_index ()``및``sortlevel ()``메서드입니다.
여기에서 가장 간단한``sort_index ()``를 사용합니다.

In [167]:
data = data.sort_index()
data

char  int
a     1      0.219294
      2      0.201124
b     1      0.296031
      2      0.145679
c     1      0.615527
      2      0.191167
dtype: float64

이러한 방식으로 인덱스를 정렬하면 부분 슬라이싱이 예상대로 작동합니다.

In [168]:
data['a':'b']

char  int
a     1      0.219294
      2      0.201124
b     1      0.296031
      2      0.145679
dtype: float64

### Stacking and unstacking indices

이전에 간략히 살펴본 것처럼 데이터 세트를 누적 다중 인덱스에서 간단한 2차원 형태로 변환하고 사용할 수준을 지정할 수 있습니다.

In [169]:
pop.unstack(level=0)

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [170]:
pop.unstack(level=1)

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

``unstack()``의 반대는``stack()`` 원래 시리즈를 복구할 수 있습니다.

In [171]:
pop.unstack().stack()

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### Index setting and resetting

계층 적 데이터를 재정렬하는 또 다른 방법은 인덱스 레이블을 열로 바꾸는 것입니다. 이것은 ``reset_index``함수를 쓰면 됩니다.

In [172]:
pop_flat = pop.reset_index(name='population')
pop_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

종종 실제 데이터로 작업 할 때 원시 입력 데이터를 MultiIndex로 변경하는 것이 유용합니다.
이는``DataFrame``의``set_index`` 함수로 할 수 있습니다.

In [173]:
pop_flat.set_index(['state', 'year'])

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

## Data Aggregations on Multi-Indices

Pandas에는``mean ()``,``sum ()``및``max ()``와 같은 기본 제공 데이터 aggregation 함수가 있습니다.
이렇게 계층적으로 인덱싱된 데이터는 계산되는 데이터의 하위 집합을 제어하는 level parameter를 쓸 수 있습니다.

In [174]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      53.0  36.7  10.0  35.2  31.0  36.7
     2      34.0  36.8  45.0  37.5  39.0  36.6
2014 1      37.0  38.5  47.0  36.2  46.0  36.4
     2      19.0  37.5  36.0  36.4  42.0  37.3

아마도 우리는 매년 두 번의 방문하므로 그 값이 평균을 구하고 싶을 지도 모릅니다. 아래처럼 하면 됩니다.

In [175]:
data_mean = health_data.mean(level='year')
data_mean

subject   Bob        Guido          Sue
type       HR   Temp    HR   Temp    HR   Temp
year
2013     43.5  36.75  27.5  36.35  35.0  36.65
2014     28.0  38.00  41.5  36.30  44.0  36.85

axis 키워드를 추가로 사용하여 열에 대해서도 같은 연산을 할 수 있습니다.

In [176]:
data_mean.mean(axis=1, level='type')

type         HR       Temp
year
2013  35.333333  36.583333
2014  37.833333  37.050000

이 문법은 다음 시간에 배울 ``GroupBy``를 쓰는 방법 중 하나입니다.

## Aside: Panel Data

Pandas에서는 여기에서 다루지 않은 3d와 4d데이터 구조가 있습니다. 각각 pd.Panel, pd.Panel4D 객체입니다. 

대부분의 경우 다중 인덱싱이 고차원 데이터에 대해 더 유용하고 개념적으로 더 단순한 표현이라는 것을 위에서 확인했습니다. 사실 그래서 이 panel 구조는 거의 사용되지 않습니다.

# Today
- About Pandas
- Indexing and Selection
- Data operation
- Missing Data
- Hierarchical Indexing

# Next class
- Combining Datasets: Concat and Append
- Combining Datasets: Merge and Join
- Aggregation and Grouping